@import '../app/app.scss';

.advantages {
    padding-bottom: 110px;

    @media screen and (max-width: 1370px) {
        padding-bottom: 60px;
    }

    &__list {

        @media screen and (max-width: 1370px) {
            margin-top: 10px;
        }
    }
}
