@import '../app/app.scss';

.footer {
    padding: 115px 0px;

    @media screen and (max-width: 1370px) {
        padding: 60px 0px;
    }

    &__title {
        color: $yellow !important;
    }

    .form {

        &__title {
            font-size: 40px;
            font-weight: 600;
            color: $t-white;
            margin-bottom: 56px;
            line-height: 48px;

            @media screen and (max-width: 1370px) {
                font-size: 5vw;
                margin-bottom: 30px;
            }
        }

        &__input {
            padding: 29px;
            display: block;
            width: calc(100% - 58px);
            background: transparent;
            border-top: 1px solid $t-white;
            border-bottom: 1px solid $t-white;
            font-size: 18px;
            font-weight: 600;
            color: $t-white;
            text-transform: uppercase;

            &::placeholder {
                color: $t-white;
            }

            &:last-child {
                border-top: none;
            }
        }
    }

    .transparent-button {
        padding: 35px 115px;
        font-size: 25px;
        border-radius: 50px;
        margin-top: 80px;

        @media screen and (max-width: 1370px) {
            margin-top: 40px;
            font-size: inherit;
            padding: 2.5vw 4.5vw;
            border-radius: 4vw;
            font-size: 3vw;
            width: 100%;
        }
    }
}
